@font-face {
  font-family: 'iconfont';  /* project id 1923036 */
  src: url('//at.alicdn.com/t/font_1923036_9ijr8vrgxch.eot');
  src: url('//at.alicdn.com/t/font_1923036_9ijr8vrgxch.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1923036_9ijr8vrgxch.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1923036_9ijr8vrgxch.woff') format('woff'),
  url('//at.alicdn.com/t/font_1923036_9ijr8vrgxch.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1923036_9ijr8vrgxch.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-le:before {
  content: "\e689"; /*图标--乐 */
}
.icon-manage:before {
  content: "\e66f"; /*后台管理 */
}
.icon-setting:before {
  content: "\e615"; /*个人设置 */
}
.icon-logout:before {
  content: "\e627"; /*退出登陆 */
}

